<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:app="http://schemas.android.com/apk/res-auto"
xmlns:tools="http://schemas.android.com/tools"
android:orientation="vertical"
android:layout_width="match_parent"
android:layout_height="match_parent"
tools:context=".MainActivity">

  <LinearLayout
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:orientation="vertical"
      android:layout_weight="1">

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginTop="10dp"
        android:layout_marginLeft="10dp"
        android:textSize="20dp"
        android:text="Dato ingresado"/>
    <EditText
        android:id="@+id/txtDato"
        android:layout_marginTop="10dp"
        android:layout_width="140dp"
        android:layout_height="40dp" />
    <TextView
        android:id="@+id/txtResultado"
        android:layout_marginTop="10dp"
        android:layout_gravity="center"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content" />

  <LinearLayout
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:orientation="vertical"
      android:gravity="center"
      android:layout_gravity="center"
      android:layout_weight="1">

    <GridLayout
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:orientation="horizontal"
        android:layout_gravity="center"
        android:rowCount="2"
        android:columnCount="2">

      <Button android:id="@+id/btnFibo"
          android:text="Fibonnaci"/>
      <Button android:id="@+id/btnmaravilloso"
          android:text="Numero maravilloso"/>
      <Button android:id="@+id/btnprimo"
          android:text="numero primo"/>
      <Button android:id="@+id/btnPalindromo"
          android:text="verificar palindromo"/>
    </GridLayout>
  </LinearLayout>

  

  </LinearLayout>

</LinearLayout>