<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android" android:layout_width="match_parent" android:layout_height="wrap_content" android:orientation="vertical">
	<EditText android:id="@+id/xet" android:layout_width="match_parent" android:layout_height="wrap_content" android:text="Dato del Fragment: " />
	<LinearLayout android:layout_width="match_parent" android:layout_height="wrap_content" android:orientation="horizontal">
		<Button android:id="@+id/xbnA" android:layout_width="wrap_content" android:layout_height="wrap_content" android:layout_weight="1" android:text="Aceptar"></Button>
		<Button android:id="@+id/xbnC" android:layout_width="wrap_content" android:layout_height="wrap_content" android:layout_weight="1" android:text="Cancelar"></Button>
	</LinearLayout>
</LinearLayout>